*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: grid;
    grid-template-columns: 5% 200px 5%;
    text-align: center;
}

.navbutton{
    background-color: lightblue;
    border: 1;
    border-color: black;
    border-radius: 3px;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
}
.weekday{
    outline: 1px solid black;
    display: grid;
    text-align: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;

}
.day{
    aspect-ratio: 3/2;
    padding:3px;
    outline: 1px solid black;
    background-color: lightcyan;
}

