*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    color: slateblue;
}

#headerImg{
    width: 100%;
}
.articleImage{
    width: 100%;
    height: 200px;
}
#article__list{
    display: grid;
    grid-template-columns: auto auto auto;
}
.articleEl{
    border-width: 1px;
    border-color: darkslateblue;
    background-color: lightgray;
    border-style: dashed;
}

.articleComments{
    padding: 10px;
    display: inline-block;
}
