*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
}

html{
    font-size: 62.5%;
}
.articleTile{
    width: 25%;
}
.articleImage{
    width: 100%;
    height: 200px;
}
#article__list{
    display: grid;
    grid-column: auto, auto, auto;
}
.articleEl{
    padding: 30px;
}